@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');


/*INTRODUCING MY OWN COLOR PALETTE-------------------------------------------------*/
:root {
    --primary-bg: #f5f5f5;
    --primary-text: #333;
    --accent-color: #48a0f1;
    --secondary-color: #74B97E;
    --complementary-color: #f38b4e;
}
/* -------------------------------------------------------------------------------------- */
.wrapper{
    background-color: antiquewhite;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-bg);
    padding: 0;
    margin: 0;
    font-size: 1rem; 
    line-height: 1.5; 
    color: var(--primary-text);
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    background-color: var(--accent-color);
    color: white;
}
main {
    flex: 1;
    padding: 1.5em;
}

footer {
    height: 10vh;
}

.logo-img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
nav ul {
    list-style: none;
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

nav a {
    display: flex;
    flex: 1;
    text-decoration: none;
    color: var(--primary-text);
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: white;
}

nav ul li {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0.2em;
    border-radius: 1px solid var(--complementary-yellow);
}

nav ul li:last-child {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 0.2em;
    border-radius: 1px solid var(--complementary-yellow);
}

footer {
    background-color: var(--complementary-color);
    color: var(--primary-text);
}
.nav-link {
    display: flex;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 12px;
}

nav {
    display: flex;
    flex: 1;
    width: 95%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg);
}
.img-in-box {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
}


button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    font-size: 0.75rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:orange;
}

#masthead {
    background-color: var(--complementary-yellow);
    padding: 1em;
    margin: 1em 0;
    border-radius: 12px;
    text-align: center;
    background-image: url(../img/masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.tagline h1 {
    color: white;
    font-size: 1em;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: inline;
}

button {
    z-index: 999;
}


#active-button {
    background-color: var(--secondary-green);
  
    color: #fff;

}

#dynamic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.4px solid var(--complementary-yellow);
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-radius: 12px;
}

#dynamic-content h1 {
    font-size: 1.5em;
}

#dynamic-content p {
    font-size: 1rem;
    text-align: justify;
}

.image-and-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-in-dynamic {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--complementary-color);
    color: var(--primary-text);
}


a:hover {
    color: var(--complementary-yellow);
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-content {
    display: flex;
    flex-direction: column;
}

.article-image {
    float: none;
    height: 300px;
    width: 300px;
}

.content p {
    text-align: left;
    margin: 0;
}

figure {
    margin-top: 0;
    margin-bottom: 45px;
}



.portfolio-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
}

.portfolio-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(33.333% - 1rem); 
    margin-bottom: 2rem; 
}

.portfolio-image-holder {
    height: 300px;
    width: 300px;
}

@media screen and (min-width: 35rem) and (max-width: 80rem) {
    body {
        font-size: 1.25rem; 
        line-height: 1.6; 
    }

    .image-content {
        display: block;
    }

    .article-image {
        float: left;
    }

    figure {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .image-box {
        flex-basis: 40%;
        
    }

    .content-space {
        flex-basis: 60%;
    }

   
    .image-and-content {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }

    nav {
        width: 70%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex: 1;
        background-color: white;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    nav a {
        font-size: 1.2rem;
    }

    header {
        margin-bottom: 0;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 2rem 4rem;
        border-radius: 12px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    footer ul {
        font-size: 1.5rem;
    }
    .portfolio-card {
        flex-basis: calc(50% - 1rem); 
    }
}

@media screen and (min-width: 80rem) {
    body {
        font-size: 1.5rem;
        line-height: 1.6; 
    }
    main {
        padding-top: 0;
    }
    .logo-img {
        height: 100px;
        width: 100px;
        border-radius: 12px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 2.3em;
    }

    nav {
        display: flex;
        flex: 0.8;
        width: auto;
        align-items: center;
        justify-content: center;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        flex: 0.5;
        background-color: white;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    
    nav a {
        display: flex;
        flex: 1;
        text-decoration: none;
        color: black;
    }

    nav a:hover {
        background-color: #3E7248;
    }
    
    nav ul li {
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding: 0.2em;
        border-radius: 1px solid var(--complementary-yellow);
    }
    
    nav ul li:last-child {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 0.2em;
        border-radius: 1px solid var(--complementary-yellow);
    }

    .dynamic-html {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        width: 80%;
    }

    .image-content {
        display: flex;
        flex-direction: row;
    }

    .image-box {
        flex-basis: 40%;
    }

    .content-space {
        flex-basis: 60%;
    }

    .articles {
        margin-top: 1.5em;
        align-items: flex-start;
    }
    .portfolio-card {
        flex-basis: calc(33.333% - 1rem); 
    }
}
