<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Topics</title>
    <link rel="stylesheet" href="./../css/styles.css">

    <script src="https://kit.fontawesome.com/acbac8cde3.js" crossorigin="anonymous"></script>
</head>

<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Portfolio</h1>
        </div>
    </section>
    <h1>Portfolio</h1>
   
        <div class="portfolio-container">
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/future.jpg" alt="ai1">
                    <figcaption class="picture-name">ai1</figcaption>
                </figure>
            </div> 
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/2.jpg" alt="ai2">
                    <figcaption class="picture-name">ai2</figcaption>
                </figure>
            </div>
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/3.jpg" alt="ai3">
                    <figcaption class="picture-name">ai3</figcaption>
             </figure>
            </div>
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/4.jpg" alt="ai4">
                    <figcaption class="picture-name">ai4</figcaption>
                </figure>
            </div>
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/5.jpg" alt="ai5">
                    <figcaption class="picture-name">ai5</figcaption>
                </figure>
            </div>
            <div class="portfolio-card">
                <figure class="portfolio-image-holder">
                    <img class="img-in-box" src="./../img/6.jpg" alt="ai6">
                    <figcaption class="picture-name">ai6</figcaption>
                </figure>
            </div>
        </div>
    </div>